@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.wrap{
    font-family: 'Roboto', sans-serif;
    background-image: url('../imges/adrien-olichon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
}

.pagelinks ul li{
    list-style: none;
}
.pagelinks ul li a{
    text-decoration: none;
    color: white;
}

.pagelinks ul li a:hover{
    color: #8BBBAC;
}
.pagelinks ul span{
   font-weight: bold;
    font-size: 1.3rem;
    
}
.head{
height: 100vh;
}

.pagelinks{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    padding-top: 150px;
    opacity: 0.8;
}
#header{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#header h1{
    font-size: 10rem;
    font-weight: 700;
    padding-left: 98px;
    opacity: 0.6;
}
.head img{
    width: 18rem;
    
}

#aboutme{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 20rem ;
    font-size: 1.3rem;
    font-weight: bolder;
    
}
 .about #aboutme #aboutitle {
    font-size: 2.1rem;
    font-weight: 900;
    text-transform: uppercase;
    opacity: 0.7;
 
}
.skills {
    padding: 100px 0;
}
#skills p{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:0 40rem;
    font-size: 1.3rem;
    font-weight: bolder;
}
#skills #skillsheader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    font-weight: 100;
    padding-left: 400px;
    text-transform: uppercase;
    
}
#skills #skillsheader span .number{
    font-size: 7rem;
    opacity: 0.4;
}

#aboutme #aboutitle{
    font-size: 2.4rem;
    font-weight: 900;
    text-transform: uppercase;
    
}
.skills, .experience, .contact {
    padding: 50px 0;
}

.experience p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40rem;
    font-size: 1.3rem;
    font-weight: bolder;
}
.experience #expheader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    font-weight: 100;
    padding-left: 400px;
    text-transform: uppercase;
    
}

.experience #expheader span .number{
    font-size: 7rem;
    opacity: 0.4;
}

.experience ul  {
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40rem;
    font-weight: 900;
    padding-top: 10px;
}

.experience ul li a{
    font-size: 1.6rem;
    text-decoration:none ;
    color: #538D7B;

}
.experience ul li a:hover{
    color: #8BBBAC;
}
.experience ul span{
    font-size: 1rem;
    font-style: italic;
    opacity: 0.9;
}


.contact p{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40rem;
    font-size: 1.3rem;
    font-weight: bolder;
}
.contact #contactheader{
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size: 5rem;
    font-weight: 100;
    padding-left: 400px;
    text-transform: uppercase;
    
}

.contact #contactheader span .number{
    font-size: 7rem;
    opacity: 0.4;
}

.contact ul  {
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:0 40rem;
    font-size: 1.3rem;
    font-weight: bolder;
    padding-top: 10px;
    
}
.contact ul li a{
    text-decoration: none;
    color: #538D7B;
}
.contact ul li a:hover{
    color: #8BBBAC;
}


.footer ul{
    list-style: none;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-end;
    padding-right: 50px;
    padding-top: 50;
    opacity: 0.7;
    font-weight: 900;
}

.scroll{
    padding-top: 100px;
}
#custombtn{
    background-color: #D8D4D4;
    border-color: blanchedalmond;
    
}
#custombtn:focus{
    outline:0;

}
#custombtn:hover{
    transform: scale(0.95);
}
.scroll{
    display:flex;
    flex-direction: column;
    align-items:center;
}


@media (max-width:1729px){
    #header h1{
        font-size: 8rem;
        padding-left: 98px;
    }
    .head img{
        width: 16rem;
        
    }
    #aboutme {
        padding:0 17rem ;
    }
    #skills p{
        padding:0 35rem;
    }
    #experience p{
        padding:0 35rem;
    }
    #contact p{
        padding:0 35rem;
    }

    
  }
  
  @media (max-width:1550px){
    
    #aboutme {
        padding:0 13rem ;
    }
    #skills p{
        padding:0 31rem;
    }
    #experience p{
        padding:0 31rem;
    }
    #contact p{
        padding:0 31rem;
    }
    #skills #skillsheader{
        font-size: 4rem;
        padding-left: 350px;
    }
    #skills #skillsheader span .number{
        font-size: 6rem;
    }

    .experience #expheader{
        font-size: 4rem;
        padding-left: 350px;
    }
    
    .experience #expheader span .number{
        font-size: 6rem;
    }

    .contact #contactheader{
        font-size: 4rem;
        padding-left: 350px;
    }
    
    .contact #contactheader span .number{
        font-size: 6rem;
    }
    .experience ul  {
        padding:0 30rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 30rem;
        padding-top: 10px;
    }
  }
 
  @media (max-width: 1387px){
    
    #header h1{
        font-size: 7rem;
        padding-left: 98px;
    }
    .head img{
        width: 14rem;
        
    }
    #aboutme {
        padding:0 10rem ;
    }
    #skills p{
        padding:0 25rem;
    }
    #experience p{
        padding:0 25rem;
    }
    #contact p{
        padding:0 25rem;
    }
    #skills #skillsheader{
        font-size: 4rem;
        padding-left: 300px;
    }
    #skills #skillsheader span .number{
        font-size: 5rem;
    }

    .experience #expheader{
        font-size: 4rem;
        padding-left: 300px;
    }
    
    .experience #expheader span .number{
        font-size: 5rem;
    }

    .contact #contactheader{
        font-size: 4rem;
        padding-left: 300px;
    }
    
    .contact #contactheader span .number{
        font-size: 5rem;
    }
    .experience ul  {
        padding:0 25rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 25rem;
        padding-top: 10px;
    }
  }
  @media (max-width:1197px){
    #aboutme {
        padding:0 8rem ;
    }
    #skills p{
        padding:0 20rem;
    }
    #experience p{
        padding:0 20rem;
    }
    #contact p{
        padding:0 20rem;
    }
    #skills #skillsheader{
        font-size: 4rem;
        padding-left: 250px;
    }
    #skills #skillsheader span .number{
        font-size: 5rem;
    }

    .experience #expheader{
        font-size: 4rem;
        padding-left: 250px;
    }
    
    .experience #expheader span .number{
        font-size: 5rem;
    }

    .contact #contactheader{
        font-size: 4rem;
        padding-left: 250px;
    }
    
    .contact #contactheader span .number{
        font-size: 5rem;
    }
    .experience ul  {
        padding:0 20rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 20rem;
        padding-top: 10px;
    }
    
  }
  @media (max-width:1053px){
    #aboutme {
        padding:0 5rem ;
    }
    #skills p{
        padding:0 19rem;
    }
    #experience p{
        padding:0 19rem;
    }
    #contact p{
        padding:0 19rem;
    }

    #skills #skillsheader{
        font-size: 3rem;
        padding-left: 200px;
    }
    #skills #skillsheader span .number{
        font-size: 4rem;
    }

    .experience #expheader{
        font-size: 3rem;
        padding-left: 200px;
    }
    
    .experience #expheader span .number{
        font-size: 4rem;
    }

    .contact #contactheader{
        font-size: 3rem;
        padding-left: 200px;
    }
    
    .contact #contactheader span .number{
        font-size: 4rem;
    }
    .experience ul  {
        padding:0 19rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 19rem;
        padding-top: 10px;
    }
  }
  @media (max-width:991px){
    #aboutme {
        padding:0 13rem ;
    }
    #skills p{
        padding:0 15rem;
    }
    #experience p{
        padding:0 15rem;
    }
    #contact p{
        padding:0 15rem;
    }
    #skills #skillsheader{
        font-size: 3rem;
        padding-left: 190px;
    }
    #skills #skillsheader span .number{
        font-size: 4rem;
    }

    .experience #expheader{
        font-size: 3rem;
        padding-left: 190px;
    }
    
    .experience #expheader span .number{
        font-size: 4rem;
    }

    .contact #contactheader{
        font-size: 3rem;
        padding-left: 190px;
    }
    
    .contact #contactheader span .number{
        font-size: 4rem;
    }
    .experience ul  {
        padding:0 15rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 15rem;
        padding-top: 10px;
    }
  }
  @media (max-width:841px){
    
    #skills p{
        padding:0 13rem;
    }
    #experience p{
        padding:0 13rem;
    }
    #contact p{
        padding:0 13rem;
    }

    #skills #skillsheader{
        font-size: 2.5rem;
        padding-left: 150px;
    }
    #skills #skillsheader span .number{
        font-size: 3rem;
    }

    .experience #expheader{
        font-size: 2.5rem;
        padding-left: 150px;
    }
    
    .experience #expheader span .number{
        font-size: 3rem;
    }

    .contact #contactheader{
        font-size: 2.5rem;
        padding-left: 150px;
    }
    
    .contact #contactheader span .number{
        font-size: 3rem;
    }
    .experience ul  {
        padding:0 13rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 13rem;
        padding-top: 10px;
    }
  }
  @media (max-width:767px){
    .pagelinks{
        padding: 0;
    }
  }
  @media (max-width:772px){
    
    #header h1{
        font-size: 5rem;
        padding-left: 20px;
    }
    .head img{
        width: 13rem;
        
    }
    #header img{
        padding-top: 70px;
    }
    #aboutme {
        padding:0 10rem ;
    }
    #skills p{
        padding:0 8rem;
    }
    #experience p{
        padding:0 8rem;
    }
    #contact p{
        padding:0 8rem;
    }
    #skills #skillsheader{
        font-size: 2.5rem;
        padding-left: 120px;
    }
    #skills #skillsheader span .number{
        font-size: 3rem;
    }

    .experience #expheader{
        font-size: 2.5rem;
        padding-left: 120px;
    }
    
    .experience #expheader span .number{
        font-size: 3rem;
    }

    .contact #contactheader{
        font-size: 2.5rem;
        padding-left: 120px;
    }
    
    .contact #contactheader span .number{
        font-size: 3rem;
    }
    .experience ul  {
        padding:0 8rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 8rem;
        padding-top: 10px;
    }
    
    
  }
  @media (max-width:647px){
    .pagelinks{
        padding: 0;
    } 
    #aboutme {
        padding:0 8rem ;
    }
    #skills p{
        padding:0 5rem;
    }
    #experience p{
        padding:0 5rem;
    }
    #contact p{
        padding:0 5rem;
    }
    #skills #skillsheader{
        font-size: 2.5rem;
        padding-left: 76px;
    }
    #skills #skillsheader span .number{
        font-size: 3rem;
    }

    .experience #expheader{
        font-size: 2.5rem;
        padding-left: 76px;
    }
    
    .experience #expheader span .number{
        font-size: 3rem;
    }

    .contact #contactheader{
        font-size: 2.5rem;
        padding-left: 76px;
    }
    
    .contact #contactheader span .number{
        font-size: 3rem;
    }
    .experience ul  {
        padding:0 5rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 5rem;
        padding-top: 10px;
    }
  }
  @media (max-width:520px){
    
    .pagelinks{
        padding: 0;
    }
    #aboutme {
        padding:0 5rem ;
    }
    #skills p{
        padding:0 3rem;
    }
    #experience p{
        padding:0 3rem;
    }
    #contact p{
        padding:0 3rem;
    }

    #skills #skillsheader{
        font-size: 2.5rem;
        padding-left: 40px;
    }
    #skills #skillsheader span .number{
        font-size: 3rem;
    }

    .experience #expheader{
        font-size: 2.5rem;
        padding-left:40px;
    }
    
    .experience #expheader span .number{
        font-size: 3rem;
    }

    .contact #contactheader{
        font-size: 2.5rem;
        padding-left: 40px;
    }
    
    .contact #contactheader span .number{
        font-size: 3rem;
    }
    .experience ul  {
        padding:0 3rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 3rem;
        padding-top: 10px;
    }
  }
  
  @media (max-width:430px){
    .pagelinks{
        padding: 0;
    }
    #header h1{
        font-size: 4rem;
        padding-left: 0px;
    }
    .head img{
        width: 12rem;
        
    }
    
    #header img{
        padding-top: 50px;
    }
    #aboutme {
        padding:0 3rem ;
    }
    #skills p{
        padding:0 1rem;
    }
    #experience p{
        padding:0 1rem;
    }
    #contact p{
        padding:0 1rem;
    }

    #skills #skillsheader{
        font-size: 2.5rem;
        padding-left: 15px;
    }
    #skills #skillsheader span .number{
        font-size: 3rem;
    }

    .experience #expheader{
        font-size: 2.5rem;
        padding-left:15px;
    }
    
    .experience #expheader span .number{
        font-size: 3rem;
    }

    .contact #contactheader{
        font-size: 2.5rem;
        padding-left: 15px;
    }
    
    .contact #contactheader span .number{
        font-size: 3rem;
    }
    .experience ul  {
        padding:0 1rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 1rem;
        padding-top: 10px;
    }
  }

  
  @media (max-width:375px){
    .pagelinks{
        padding: 0;
    }
    #header h1{
        font-size: 3rem;
        padding-left: 0px;
    }
    .head img{
        width: 11rem;
        
    } 
    #aboutme {
        padding:0 2rem ;
    }
    .experience ul  {
        padding:0 1rem;
        padding-top: 10px;
    }
    .contact ul  {
        padding:0 1rem;
        padding-top: 10px;
    }
  }
  @media (max-width:330px){
    .pagelinks ul span{
         font-size: 1.2rem;
         
     }
     .pagelinks{
         padding: 0;
     }
      #header h1{
        font-size: 3rem;
        padding-left: 0px;
    }
    .head img{
        width: 10rem;
        
    }
    #aboutme {
        padding:0 1rem ;
    }
    #skills #skillsheader{
        font-size: 2;
    }
    #skills #skillsheader span .number{
        font-size: 2rem;
    }

    .experience #expheader{
        font-size: 2rem;
    }
    
    .experience #expheader span .number{
        font-size: 2rem;
    }

    .contact #contactheader{
        font-size: 2rem;
    }
    
    .contact #contactheader span .number{
        font-size: 2rem;
    }
    .experience ul  {
        font-size: 1rem;
    }
    .contact ul  {
       font-size: 1.1rem;
    }
  }
  
  
  
  
  
  